.con {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.fc_rd {
    color: #f00;
}

.fc_ff {
    color: slateblue;
}

.fc_bc {
    color: burlywood;
}

.fc_gc {}