* {
    outline: 1px solid tomato;
}


#header {
    height: 80px;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
}

.header_wrap {
    display: flex;
    gap: 30px;
    align-items: center;
}

.header_wrap h1 {
    line-height: 80px;
}

.header_wrap h1>a>img {
    width: 270px;
    height: 54px;
}

.header_wrap .header_right {
    flex: 3;
    display: flex;
    flex-direction: column;
    text-align: right;
}

.header_wrap .header_right .util {
    border-bottom: 1px solid #ddd;
}

.header_wrap .header_right .util>ul {
    display: flex;
    gap: 20px;
    justify-content: right;
    line-height: 30px;
}

.header_wrap .header_right .gnb>ul {
    display: flex;
    gap: 40px;
    justify-content: right;
    line-height: 50px;
}

.header_wrap .header_right .gnb>ul>li>a {
    font-size: 18px;
    font-weight: 600;
}

/* .visual_slideㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */

.visual_slide .itm {
    position: relative;
    height: 600px;
}

.visual_slide .itm01 {
    background: url(../images/main_visual01.png)no-repeat center center rgb(251, 244, 215);
}

.visual_slide .itm02 {
    background: url(../images/main_visual02.png) no-repeat center center rgb(14, 40, 73);
}

.visual_slide .itm03 {
    background: url(../images/main_visual03.png) no-repeat center center rgb(215, 209, 207);
}

.visual_slide .itm04 {
    background: url(../images/main_visual04.png) no-repeat center center rgb(255, 211, 66);
}

.visual_slide .solgan {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.visual_slide .solgan span {
    display: block;
    margin: 0 0 16px 0;
}

.visual_slide .solgan p {
    margin: 0 0 32px 0;
    font-size: 60px;
    line-height: 1.58;

}

.visual_slide .solgan p>strong {}

.visual_slide .solgan a {}

/* main_contentㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
.main_content {
    padding: 100px 0;
}

.main_content h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    margin: 0 0 16px 0;
}

.content_wrap {}

.content_wrap .tab_menu {
    display: flex;
    justify-content: space-between;
    max-width: 1030px;
    margin: 0 auto 32px auto;
}

.content_wrap .tab_menu>li {
    background: #ddd;
    padding: 11px 36px;
    border-radius: 20px;
}

.content_wrap .tab_menu>li.on {
    background: tomato;
}

.content_wrap .tab_con .sub_slide {
    display: none;
    margin: 0 -15px;
}

.content_wrap .tab_con .sub_slide.on {
    display: block;
}

.content_wrap .sub_slide .itm {
    border: 1px solid #ddd;
    margin: 0 15px;
}

.content_wrap .sub_slide .itm>img {
    margin: 0 0 16px 0;
}

.content_wrap .sub_slide .itm strong {}

.content_wrap .sub_slide .itm p {}

.content_wrap .sub_slide .itm span {}


/* main_serviceㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
.main_service {
    padding: 100px 0 0 0;
}

.service_wrap {
    height: 400px;
    background: url(../images/main_service_01.jpg);
}